* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #232c3d;
  font-family: 'Turret Road', cursive;
  /* Special styles to make scrollbar style work a bit on mozilla */
  scrollbar-color: #ff6347 #161c27; 
}

/* Scrollbar styles doestn't work on mozilla */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #161c27;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff6347;
  border-radius: 10px;
}


/* ****************************************** */
/*Styles for the Navigation*/
#navigator{
  text-align: center;  
  margin-top: 5px;
}
#navigator a{  
  color: #fff0f5;
  text-decoration: none;
  font-size: 1.25rem;
  margin-right: 5px;  
}
#navigator .active{
  color:#ff6347; 
  font-weight: 800;  
  border-bottom: 2px #fff0f5 solid; 
}

/* ****************************************** */
/*Styles block for HOME images and animations*/
svg {
  position: absolute;
  top: 2%;
  left: 2%; 
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: .2s; 
}
#Polygon-3 {
  animation-delay: .4s; 
}
#Polygon-4 {
  animation-delay: .6s; 
}
#Polygon-5 {
  animation-delay: .8s; 
}

@keyframes float {
	100% {
    transform: translateY(30px);
  }
}

.triology1{
  animation: pulse 1s infinite ease-in-out alternate;
  position: absolute;
  color: #264de4;
  font-size: 100px;
  top: 60%;
  left: 90%;
  animation-delay: .4s;
}

.triology2{
  animation: pulse 1s infinite ease-in-out alternate;
  position: absolute;
  color: #FF5733;
  font-size: 100px;
  top: 70%;
  left: 85%;
  animation-delay: .2s;
}

.triology3{
  animation: pulse 1s infinite ease-in-out alternate;
  position: absolute;
  color: #f0db4f;
  font-size: 100px;
  top: 80%;
  left: 90%;
  animation-delay: .6s;
}

/* ****************************************** */
/*Styles block for Home section*/
#containerhome {
  height: 100vh;
  display: grid;  
  grid-template-rows: repeat(4, auto) 1fr;
  grid-template-columns: 10% auto 10%;
  grid-template-areas:  
    ". logo ."
    ". welcome ."
    ". photo ."    
    ". social .";
  justify-content: center;
  text-align: center;
  grid-row-gap: 10px;
}

#logo {
  grid-area: logo;
  margin-top: 10vh;
}

#welcome {
  grid-area: welcome;
}

#photo {
  grid-area: photo;
}

#social {
  grid-area: social;  
}

#logo img.logo {
  height: 70px;
}

#photo img {
  height: 300px;
  border-radius: 50%;
}

h1.myname {
  color: #fff0f5;  
  font-weight: 800;
  margin: 0 auto;
  letter-spacing: 1.5px;
  font-size: 2.5rem;
}

#social a i {
  font-size: 40px;
  color: #fff0f5;
  margin-right: 15px;
  margin-top: 15px;
  padding: 5px;
  transition-duration: 0.5s;
}

#social a i.fa-instagram:hover {
  color: #f2003c; 
}

#social a i.fa-facebook-f:hover {
  color: #3b5998;
}

#social a i.fa-twitter:hover {
  color: #00acee;
}

#social a i.fa-linkedin-in:hover {
  color: #0e76a8;
}

#social a i.fa-github:hover {
  color: #6e5494;
}

/* ****************************************** */
/*Styles for Skills Section*/
#containerskills {
  height: 100vh;
  width: 80%;
  margin: 10vh auto;
  display: grid;
  grid-auto-rows: minmax(250px, 1fr); 
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

div #skillstitle {
  display: grid;
  grid-template-rows: auto auto;
  color: #fff0f5;
  align-self: center;
  justify-self: center;  
}

 hr.line {
  height: 3px;
  background-color: #ff6347;
  border: none; 
}

div #skillstitle h1,
div #skillstitle hr {
  margin: 0;
} 

.monored {
  color: #F92672;
}

.monogreen {
  color: #A6E22E;
}

.monoblue {
  color: #66D9EF;
}

.monoviolet {
  color: #AE81FF;
}

.monoorange {
  color: #FFE792;
}

.box {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  display: grid;
  padding: 15px;
  color: #fff0f5;
  transition-duration: 0.7s;   
}

.efect:hover {
  transform: scale(1.1);
}

.box i {
  font-size: 100px;
}

.box h1 {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.box span.space {
  padding-left: 30px;
  font-size: 1.3rem;
  font-weight: 400;
}

.box div.logo {
  display: flex;
  justify-self: end;
  align-self: end;
}

.box h2 {
  padding-right: 10px;
  align-self: center;
  letter-spacing: 2px;
}
.test1{
  margin-top: 10px;
}
/* ****************************************** */
/*Styles for Projects Section*/
#containerprojects {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-columns: 20% repeat(6, auto) 20%;
  grid-template-areas:
    ". protitle protitle protitle ."
    ". card1 card2 card3 ."
    ". card4 card5 card6 ."    
  ;
  align-content: center;
  justify-content: center;
  text-align: center;  
}

#protitle {
  grid-area: protitle;
  color: #fff0f5;
  margin-top: 100px; 
}

.proline {
  height: 3px;
  background-color: #ff6347;
  border: none;
  margin-bottom: 30px;
  width: 160px;
  margin-left: 370px;
}

#card1 {
  grid-area: card1;
}

#card2 {
  grid-area: card2;
}

#card3 {
  grid-area: card3;
}

#card4 {
  grid-area: card4;
  margin-top: -8px;
}

#card5 {
  grid-area: card5;
  margin-top: -8px;
}

#card6 {
  grid-area: card6;
  margin-top: -8px;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.child {
  height: 100%;
  width: 100%;
}

.child img {
  transition: .5s ease-in-out;
}

#card1 h4,   
#card2 h4,
#card3 h4,
#card4 h4,
#card5 h4{
  top: 35%;
  color: #fff0f5;
}

#card6 h4{
  top: 25%;
  color: #fff0f5;
}

#card1 h4:hover,
#card2 h4:hover,
#card3 h4:hover,
#card4 h4:hover,
#card5 h4:hover,
#card6 h4:hover{
  color: #ff6347;
  font-weight: 600;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: -1;
  transition: .3s ease-in-out;
}

.card a {
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-65%, -55%);
  -ms-transform: translate(-65%, -55%);
  color: #fff0f5;
  text-decoration: none;
  border: 1px solid #fff0f5;
  padding: 2px 10px;
  text-align: center;
  border-radius: 15px;  
  opacity: -1;
  transition: .3s ease-in-out;
}

.card a {
  top: 75%
}

.card:hover img {
  transform: scale(1.7);
  opacity: 0.2;
}

.card:hover .overlay,
.card:hover a {
  opacity: 1;
}

.card a:hover {
  color: #ff6347;
  border: 2px solid #ff6347;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 800;
}

.abitspace{
  padding-top: 8px;
}

.overlay i.fa-html5 {
  color: #ff5733;
  font-size: 40px;
}

.overlay i.fa-css3-alt {
  color: #264de4;
  font-size: 40px;
}

.overlay i.fa-js {
  color: #F0DB4F;
  font-size: 40px;
}

.overlay i.fa-bootstrap {
  color: #553C7B;
  font-size: 40px;
}

.overlay i.fa-windows {
  color: #00a2ed;
  font-size: 40px;
}

.overlay i.fa-desktop {
  color: #81c046;
  font-size: 40px;
}

.overlay i.fa-git-square {
  color: #AD5C51;
  font-size: 40px;
}


/* ****************************************** */
/*Styles for Contacts me Section*/
#containercontactme {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 2fr 6fr 2fr;
  grid-template-columns: 20% auto 20%;
  grid-template-areas:
    ". contactmetitle ."
    ". thanks ."
    ". contactform ."
    ". copyright .";
  align-items: center;
}

#contactmetitle {
  grid-area: contactmetitle;
  color: #fff0f5;
  align-self: flex-end;
  justify-self: center; 
}

.contactmeline {
  height: 3px;
  background-color: #ff6347;
  border: none;
}

#thanks {
  grid-area: thanks;
}

#contactform {
  grid-area: contactform;
  align-self: flex-start;
  margin-top: 30px;
}

#copyright {
  grid-area: copyright;
  justify-self: center;
}

#thanks p {
  margin-bottom: 5px;
  color: #fff0f5;
  text-align: center;
  letter-spacing: 1.5px;  
}

input[type="text"],
input[type="email"],
textarea[type="text"] {
  display: inline-block;
  width: 100%;
  border: none;
  padding: 10px 15px;
  background: #1E242C;  
  margin-bottom: 3px;
  color: #fff0f5;    
}

::placeholder{
  font-family: 'Times New Roman', Times, serif;  
}


.message {
  min-height: 200px;
  margin-bottom: 5px;  
}

input[type="submit"], .btn-send-message {
  float: right;  
  padding: 10px 30px;
  color: #fff0f5;
  background: transparent;
  transition: .5s;
}

input[type="submit"]:hover, .btn-send-message:hover {
  color: #fff0f5;
  background: #ff6347;
  cursor: pointer;
}

#copyright p {
  color: #fff0f5;
  transition: .5s;
}

#copyright p:hover {
  color: #ff6347;
  transition: .5s;
  cursor: zoom-in;
  font-size: 1.5rem;
}

/* ****************************************** */
/* CSS para el envio de correo */
.frm-required{
  border: 1px solid red !important;
}

.message-status{
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #fff0f5;
  padding: 10px;
  cursor: pointer;
}

.message-status.error{
  background: red;
}

.message-status.sending{
  background: #765c22;
}

.message-status.sent{
  background: #598f28;
}

/*********************************************************************************************************/
/*********************************************************************************************************/
/*Media Queries*/
/*********************************************************************************************************/
/*********************************************************************************************************/
@media only screen and (max-width: 1440px) {
  svg {
    width: 280px;
    height: 400px;
  }
  .triology1, .triology2, .triology3{   
    font-size: 80px;   
  }
  /*HOME*/

  /*SKILLS*/

  /*PROJECTS*/

  /*CONTACT*/
  #containercontactme {   
    display: grid;    
    grid-template-columns: 20% auto 20%;   
  }
}

@media only screen and (max-width: 1024px) {
  svg {
    width: 180px;
    height: 300px;
  }
  .triology1, .triology2, .triology3{   
    font-size: 60px;   
  }

  /*HOME*/
  #logo img.logo {
    height: 50px;
  }
  .wrap{
    font-size: 26px;
  }
  #photo img {
    height: 200px;
    border-radius: 50%;
  }
  #social a i {
    font-size: 26px;    
  }

  /*SKILLS*/

  /*PROJECTS*/

  /*CONTACT*/
  #containercontactme {   
    display: grid;    
    grid-template-columns: 15% auto 15%;   
  }
}
@media only screen and (max-width: 768px) {
  .mobil-none{
    display: none;
  }
  /*HOME*/

  /*SKILLS*/

  /*PROJECTS*/

  /*CONTACT*/
  #containercontactme {   
    display: grid;    
    grid-template-columns: 5% auto 5%;   
  }
}


/* #containerprojects {
  grid-template-rows: repeat(6, auto);
  grid-template-columns: auto;
  grid-template-areas:
    "protitle"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6";
  margin-top: 100vh;
  padding-top: 70%;
}

.proline {
  height: 3px;
  width: 50%;
  background-color: #ff6347;
  border: none;
  margin-left: 25%;
  margin-bottom: 30px;
} */